@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F8F9FA;
}

.profilepic {
  align-content: center;
  justify-content: center;
}

.bio {
 color: grey;
}

.profilepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.favorite-icon {
  cursor: pointer;
}

.favorite-icon.favorited {
  color: gold; /* Or your preferred color for favorited state */
}
